/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #0F162D;
    --color-secondary: #272D42;
    --color-black: #000000;
    --color-white: #ffffff;
    --mobile: 768px;
    --tablet: 1024px;
}