.tile-component {
    background-color: var(--color-secondary);
    border-radius: 24px;
    padding: 24px 16px;

    & &__icon {
        display: block;
        margin: 0 auto;
    }

    & &__header {
        margin: 16px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    & &__param {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.5;
        text-align: center;
    }

    @media (max-width: 1156px) {
        border-radius: 20px;
        padding: 20px 17px 20px 14px;

        & &__icon {
            max-width: 56px;
            max-height: 56px;
        }

        & &__param {
            font-size: 14px;
            line-height: 22px;
        }
    }

    @media (max-width: 520px) {
        margin-bottom: 16px;
        padding: 20px 22px;
    }
}