.tile-component {
    background-color: var(--color-secondary);
    border-radius: 24px;
    padding: 24px 16px;

    & &__icon {
        display: block;
        margin: 0 auto;
    }

    & &__header {
        margin: 16px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    & &__param {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.5;
        text-align: center;
    }

    @media (max-width: 834px) {
        //some code
    }

    @media (max-width: 375px) {
        //some code
    }
}