/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import "./_header-component.scss";
@import "./_tile-component.scss";


.home-page-container {
    display: flex;
    gap: 0 109px;
    max-width: 1136px;
    padding: 159px 64px;
    margin: auto;

    @media (max-width: 834px) {
        //some code
    }

    @media (max-width: 375px) {
        //some code
    }
}

.four-areas-container {
    display: grid;
    grid-template-columns: 268px 268px;
    grid-template-rows: auto;
    gap: 31px 24px;

    @media (max-width: 834px) {
        //some code
    }

    @media (max-width: 375px) {
        //some code
    }
}