/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import "./header-component.scss";
@import "./tile-component.scss";


.home-page-container {
    display: flex;
    gap: 0 109px;
    max-width: 1136px;
    padding-top: 159px;
    margin: auto;
}

.four-areas-container {
    display: grid;
    grid-template-columns: 268px 268px;
    grid-template-rows: auto;
    gap: 31px 24px;
}