/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "../pages/home-page/styles/home-page.scss";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
}

p {
  color: var(--color-on-surface);
}